<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Nicola Justus</title>

     <!-- my css -->
    <link href="./css/stylesheet.css" rel="stylesheet" />
    <!-- Bootstrap core CSS -->
    <link href="./bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-cloud"></span>&nbsp;&nbsp; Nicola Justus</a>
        </div>
        <div class="navbar-collapse collapse">
            <!-- Place holder for email, password
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
            -->
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hey there!</h1>
        <p>My name is Nicola Justus, i am 20 years old and currently studying Software Engineering at <a href="http://www.thm.de">THM</a>-University...</p>
        <p><a class="btn btn-primary btn-lg" role="button">Learn more about me &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <h1>My Projects</h1>
      <div class="row">
        <div class="col-md-4">
          <h2>Chat-Client</h2>
          <p>A little Chat-Client originally programmed for learning how to work with sockets, networks and I/O-Streams in Java.</p>
          <p><a class="btn btn-success" href="#chat" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>FTP-Client</h2>
          <p>An FTP-Client programmed in Java using 2 Sockets based on the description in <a href="https://www.ietf.org/rfc/rfc959.txt">RFC 959</a>.</p>
          <p><a class="btn btn-success" href="#ftp" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Music-Orga</h2>
          <p>An app that automatically organizes your music using MP3-Tags.</p>
          <p><a class="btn btn-success" href="#music" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <a name="chat"></a>
      <section id="chat" class="description">
          <h1>Chat-Client</h1>
          The Chat-Client in Java... Once only an excersize starting to fascinating me.<br/>
          This projekt where a co-work with my collegue <a href="http://bjoernpfarr.cloudcontrolled.com">Bj&ouml;rn Pfarr</a>. We started with learning Input-Output-Programming, Socket-Programming and trying to find an answer on: "How can I realize unsychronous network communication?"...<br/>
          After searching and trying a while, we used 2 single Threads: 1 for incoming and 1 for outgoing messages/connections.

      </section>
      <a name="ftp"></a>
      <section id="ftp" class="description">
          <h1>FTP-Client</h1>
          "I want my own FTP-Client..." and so started the project "FTP-Client". <br/>
          The program is using 2 Sockets. One for the Control-Stream and 1 for the Data-Stream. Everything else are string-commands using the Control-Stream.
      </section>
      <a name="music"></a>
      <section id="music" class="description">
           <h1>Music-Organisation</h1>
           "Organizing the music.. Without doing anything?." This program makes it possible. <br/>
           All your music will be automatic sorted by Interpret -&gt; Album -&gt; Musicfile  (as long as there are mp3-Tags inside the files). <br/>
      </section>
      <hr>

      <footer>
        <p>N. Justus Oct 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

